@CHARSET "utf-8";


@font-face{
	font-family: LiberationSans-Regular;
	src: url('fonts/LiberationSans-Regular.ttf');
}

body{
	font-family: LiberationSans-Regular;
}

.title{
	padding:0.5em;
	font-size:1.25em;
}

.graphSpace{
	position:relative;
	background-color:#FFF;
	padding-bottom:0.2em;
	border:0.5em solid #CFC;
}

.frameContainer {
	position: relative;
	padding-bottom: calc(40% + 2px);
	overflow:hidden;
}

.graph {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: transparent;
	overflow:hidden;
}

.lowerGraphLabels{
	position:relative;
	left:20%;
	width:80%;
}

.horizontalMarkerContainer{
	display:flex;
	justify-content: space-around;
}

.map{
	font-size:1.2em;
	padding-left:0.5em;
}

.recommendation{
	font-size:1.2em;
	padding:0.5em;
}

.recommendations{
	font-size:0.9em;
}

.lowerOptions{
	background-color: #CFC;
	padding:0.5em;
}

.button{
	margin: 0.5em;
	font-size:1em;
	width:8em;
	height:2em;
}