@font-face{
	font-family: LiberationSans-Regular;
	src: url('fonts/LiberationSans-Regular.ttf');
	
}
@font-face{
	font-family: LiberationSans-Bold;
	src: url('fonts/LiberationSans-Bold.ttf');
}
@font-face{
	font-family: LiberationSans-Italic;
	src: url('fonts/LiberationSans-Italic.ttf');
}
@font-face{
	font-family: LiberationSans-BoldItalic;
	src: url('fonts/LiberationSans-BoldItalic.ttf');
}

 body{
	font-family: LiberationSans-Regular;
 }
.active a{
	font-family:LiberationSans-Bold;
 }
.container
{
    min-width: 500px !important;
}
.navbar-default .navbar-brand {
	font-family: LiberationSans-Bold;
	font-size:1.5em;
}
.navbar-nav .nav{
}
.logoutButton{
}
