@font-face{
	font-family: LiberationSans-Regular;
	src: url('fonts/LiberationSans-Regular.ttf');
	
}
@font-face{
	font-family: LiberationSans-Bold;
	src: url('fonts/LiberationSans-Bold.ttf');
}
@font-face{
	font-family: LiberationSans-Italic;
	src: url('fonts/LiberationSans-Italic.ttf');
}
@font-face{
	font-family: LiberationSans-BoldItalic;
	src: url('fonts/LiberationSans-BoldItalic.ttf');
}

 body{
	font-family: LiberationSans-Regular;
	padding-top:3.5em;
 }
.active a{
	background-color:#1B7F36 !important;
	color: #35FF6C !important;
	font-family:LiberationSans-Bold;
 }
.containerColor{
	background-color:#C0FFCF;
}
.container
{
    min-width: 340px !important;
}
.navbar-default .navbar-brand {
	font-family: LiberationSans-Bold;
	font-size:1.5em;
  color: #0D401B;
}
.navbar-nav .nav{
	color: #0D401B;
}
.logoutButton{
	background-color: #16CCAE;
}
