label{
	vertical-align:center;
}
h3{
	padding-bottom:.5em;
	text-align:center;
}
#targTempTitle{
	text-align: right;
	padding-right:1em;
	color: #0D401B;
	font-family: LiberationSans-Bold;
}
#settingsButtons{
	width:100%;
}
#controlPanel{
	background-color:#CFC;
	margin-left:0;
	margin-right:0;
	height:auto;
	width:auto;
}
#controlSection{
	width:100%;
	background-color:#cfc;
	padding:1em;
}
#thermostatChoice{
	width:100% !important;
}
#tempTextC{
	font-size:3em;
	padding-left:.25em;
}
#tempTextF{
	font-size:2em;
	padding-left:.25em;
}
#tempChangeSection{
	background-color:#CFC;
	font-family:LiberationSans-Bold;
}
#holdButton{
	width:100%;
	color:#0D401B;
}
#thermostatSection{
	float:right;
}
#tempContainer{
	height:auto;
	background-color: blue;
}
.schedText{
	text-align: center;
	padding-top:.2em;
	padding-bottom:.2em;
	color: #0D401B;
	font-family: LiberationSans-Bold;
	font-size:1em;
}
.buttonAlignment{
	text-align:left;
}
.buttonSizing{
	width:33.3% !important;
	color:#0D401B;
}
.btn-group{
	width:100%;
}
.inlineSection{
	display: inline-block;
}
.vertAlignText{
	vertical-align: middle;
}
span.glyphicon {
    font-size: 2em;
}
@media(max-width:479px){
	#thermostatGraphic{
	width:4.5em;
	height:auto;
	margin-left:0em;
	margin-right:0em;
	}
	#targTempTitle{
		font-size: 1.3em;
	}
	#controlPanel{
		min-width:17em;
		padding:.5em;
	}
	#tempChangeSection{
		margin-top:20px;
		margin-bottom:2em;
	}
	#settingsButtons{
		font-size:2em;
	}
	label{
		font-size:.7em !important;
	}
	#tempTextC{
		font-size:2.5em;
		padding-left:.1em;
	}
	#tempTextF{
		font-size:1.75em;
		padding-left:.1em;
	}
	#thermostatSection{
		margin-left:.5em;
		margin-right:.5em;
	}
	.schedText{
		font-size:1em;
	}
	.select.select-block .btn {
    width: 1em !important;
	}
}
@media(min-width:480px){
	#thermostatGraphic{
	width:5em;
	height:auto;
	margin-right:0em;
	margin-bottom:20px;
	}
	#targTempTitle{
		font-size: 1.7em;
	}
	#controlPanel{
		padding:.5em;
		min-width:22em;
	}
	#tempChangeSection{
		margin-top:20px;
		margin-bottom:2em;
	}
	#settingsButtons{
		font-size:2em;
	}
	label{
		font-size:.75em !important;
	}
	#tempTextC{
		font-size:2.5em;
		padding-left:.1em;
	}
	#tempTextF{
		font-size:1.75em;
		padding-left:.1em;
	}
	#thermostatSection{
		margin-left:.5em;
		margin-right:.5em;
	}
	.schedText{
		font-size:1.3em;
	}
}
@media(min-width:768px){
#thermostatGraphic{
	width:auto;
	height:22em;
	
	}
	#targTempTitle{
		font-size: 2.2em;
	}
	#controlPanel{
		padding: 1em;
		min-width:30em;
		height:22em;
	}
	#tempChangeSection{
		padding:1em;
	}
	#settingsButtons{
		font-size:2em;
	}
	#tempTextC{
		font-size:3em;
		padding-left:.1em;
	}
	#tempTextF{
		font-size:2em;
		padding-left:.1em;
	}
	label{
		font-size:.5em !important;
	}
	.schedText{
		font-size:1.7em;
	}
}
@media(min-width:992px){
	#thermostatGraphic{
	width:auto;
	height:23.5em;
	}
	#targTempTitle{
		font-size: 2.6em;
	}
	#controlPanel{
		min-width:35em;
	}
	.schedText{
		font-size:2em;
	}
}
@media(min-width:1200px){
	#thermostatGraphic{
		margin-left:25%;
	}
}
