label{
	vertical-align:center;
}
#targTempTitle{
	text-align: right;
	padding-right:1em;
	padding-top:.2em;
	padding-bottom:.2em;
	color: #0D401B;
	font-family: LiberationSans-Bold;
}
#settingsButtons{
	width:100%;
}
#controlPanel{
	background-color:#CFC;
	margin-left:0;
	margin-right:0;
	height:auto;
	width:auto;
}
#controlSection{
	float:right;
}
#thermostatChoice{
	width:100% !important;
}
#tempTextC{
	font-size:3em;
	padding-left:.25em;
}
#tempTextF{
	font-size:2em;
	padding-left:.25em;
}
#tempChangeSection{
	background-color:#CFC;
	font-family:LiberationSans-Bold;
}
#holdButton{
	width:100%;
	color:#0D401B;
}
.schedText{
	text-align: center;
	padding-top:.2em;
	padding-bottom:.2em;
	color: #0D401B;
	font-family: LiberationSans-Bold;
	
}
.buttonAlignment{
	text-align:right;
}
.buttonSizing{
	width:33.3% !important;
	
	color:#0D401B;
}
.btn-group{
	width:80%;
}
.inlineSection{
	display: inline-block;
}
.vertAlignText{
	vertical-align: middle;
}
#tempContainer{
	height:auto;
	background-color: blue;
}

@media(max-width:767px){
	#thermostatGraphic{
	width:auto;
	height:20em;
	margin-left:13%;
	margin-right:0em;
	}
	#targTempTitle{
		font-size: 1.5em;
	}
	#controlPanel{
		margin-right:1em;
		padding:.5em;
		min-width:20em;
	}
	#tempChangeSection{
		padding:1em;
		margin-left:.5em;
		margin-right:1em;
		margin-bottom:2em;
	}
	#schedText{
		font-size: 1em;
	}
	#settingsButtons{
		font-size:1.5em;
	}
	label{
		font-size:.75em !important;
	}
}
@media(min-width:768px){
#thermostatGraphic{
	margin-left:16%;
	width:auto;
	height:22em;
	}
	#targTempTitle{
		font-size: 2em;
	}
	#controlPanel{
		padding: 1em;
		min-width:28em;
		margin-right:0em;
	}
	#tempChangeSection{
		padding:1em;
		padding-top:2em;
		padding-bottom:2em;
		margin-left:0em;
		margin-right:0em;
	}
	#schedText{
		font-size: 1.5em;
	}
	#settingsButtons{
		font-size:2em;
	}
	label{
		font-size:.5em !important;
	}
}
@media(min-width:992px){
	#thermostatGraphic{
	width:auto;
	height:23.5em;
	}
	#targTempTitle{
		font-size: 2.6em;
	}
	#controlPanel{
		
		min-width:100%;
		margin-right:1em;
	}
	
}
@media(min-width:1200px){
		#thermostatGraphic{
	margin-left:25%;
		}
}
